.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #223459;
  border-radius: 4px;
  background: #223459;
  color: white;
  cursor: pointer;
  margin: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #506ca6;
  border-color: #506ca6;
}

.button--inverse {
  background: transparent;
  color: #223459;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #223459;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 2rem;
}

.button--anime {
  transition: all 400ms ease-out;
}

.button--anime:hover,
.button--anime:active {
  transform: translateY(-5px);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
